
        <ul class="nav nav-tabs navbar-dark bg-dark">
            <li class="nav-item">
              <a class="nav-link active navbar-dark bg-dark" aria-current="page" href="#"><font color="white">Home</font></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><font color="white">Types of mental health issues</font></a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#"><font color="white">Anxiety</a></font></li>
                    <li><a class="dropdown-item" href="#"><font color="white">Borderline Desorder</font></a></li>
                    <li><a class="dropdown-item" href="#"><font color="white">Depression</font></a></li>
                    <li><a class="dropdown-item" href="#"><font color="white">Bipolar Desorder</font></a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbar-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><font color="white">Services</font></a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#"><font color="white">Guided Meditation</a></font></li>
                    <li><a class="dropdown-item" href="#"><font color="white">Ask to an expert</font></a></li>
                    <li><a class="dropdown-item" href="#"><font color="white">Find a Therapist</font></a></li>
                    <li><a class="dropdown-item list-group-item-light" href="#"><font color="white">Emergency Call</font></a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><font color="white">Contact</font></a>
            </li>
        </ul>
    